:root{
    --grid-width: 1000px;
    --numberofsquares: ;
}

*{
    box-sizing: border-box;
}


#grid{
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(var(--numberofsquares), 1fr);
    grid-template-columns: repeat(var(--numberofsquares), 1fr);
    overflow: none;
}   

.cell{
    border: 1px solid black;
    background:white;
}

button{
    margin-top: 1em;
    border-radius: .2em;
    border: 1px solid black;
    padding: .5em 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor:pointer;
}

